In [1]:
import math as mt
import pandas as pd
import numpy as np
from scipy.stats import norm

import matplotlib
import matplotlib.pyplot as plt
pd.options.display.float_format = '{:,.2f}'.format

from scipy.stats import linregress

import statsmodels.api as sm
import statsmodels.formula.api as smf

In [13]:
df=pd.read_csv("C:\\Users\Snow\Desktop\JWTG_Reports\ABTest\\result.csv")
df.head(5)

,AB_ID,USER_ID,PRICE,PRODUCT,PLATFORM,COUNTRY
0,B,1700249429971,2.99,com.ludia.jurassicworld.hcmemauto7days,iOS,United States
1,B,1700282994224,9.99,com.ludia.jurassicworld.memautotrial1gr2,iOS,United States
2,B,1700272626787,9.99,com.ludia.jurassicworld.memauto1,iOS,United States
3,A,1700270789823,9.99,com.ludia.jurassicworld.memauto1,iOS,United States
4,A,1700290209070,9.99,com.ludia.jurassicworld.memauto1,iOS,United States

In [17]:
df.USER_ID=df.USER_ID.apply(str)

df.describe()

          PRICE
count 17,782.00
mean      11.13
std       16.35
min        0.00
25%        1.99
50%        6.99
75%        9.99
max       99.99

In [18]:
print('nb unique spender:', df.USER_ID.nunique())
print('nb purchases:', df.PRICE.count())

nb unique spender: 7828
nb purchases: 17782

In [35]:

print('Number of Unique Spenders:', df['USER_ID'].nunique(), "\n" )

print('Number of Purchases',"\n",df['AB_ID'].value_counts(),"\n" )

print('Sum of Purchases',"\n",df.groupby(['PLATFORM','AB_ID'])['PRICE'].sum(),"\n" )

print('AVG Amount of Purchase by Test Groups', "\n", "\n", df.groupby('AB_ID').agg({'PRICE':'mean'}),"\n" ,"\n" )


print('AVG Amount of Purchase by Test Groups And Platforms',"\n","\n", df.groupby(['PLATFORM', 'AB_ID'])['PRICE'].mean(),"\n","\n"  )

Number of Unique Spenders: 7828

Number of Purchases
 B    9017
A    8765
Name: AB_ID, dtype: int64

Sum of Purchases
 PLATFORM  AB_ID
Android   A       29,197.96
          B       32,684.20
iOS       A       73,325.09
          B       62,626.44
Name: PRICE, dtype: float64

AVG Amount of Purchase by Test Groups

        PRICE
AB_ID
A      11.70
B      10.57


AVG Amount of Purchase by Test Groups And Platforms

 PLATFORM  AB_ID
Android   A       10.42
          B       10.28
iOS       A       12.29
          B       10.73
Name: PRICE, dtype: float64

In [28]:

from scipy.stats import ttest_ind

df_1 = df.loc[ (df['PLATFORM'] == 'iOS') 

df_2 = df.loc[ (df['PLATFORM'] == 'Android') 


c1 = df[df['AB_ID']=='A']
c2 = df[df['AB_ID']=='B']
print( ttest_ind(c1['PRICE'], c2['PRICE']) )

SyntaxError: invalid syntax (<ipython-input-28-81ede511fd07>, line 5)

In [39]:
from scipy.stats import ttest_ind

df_1 = df.loc[ (df['PLATFORM'] == 'iOS')]


df_2 = df.loc[ (df['PLATFORM'] == 'Android')]



c1 = df_1[df_1['AB_ID']=='A']
c2 = df_1[df_1['AB_ID']=='B']
print( ttest_ind(c1['PRICE'], c2['PRICE']) )

c1 = df_2[df_2['AB_ID']=='A']
c2 = df_2[df_2['AB_ID']=='B']
print(ttest_ind(c1['PRICE'], c2['PRICE']) )

Ttest_indResult(statistic=4.976462676943382, pvalue=6.567033693397544e-07)
Ttest_indResult(statistic=0.3829637863145753, pvalue=0.7017602292553081)